li {
  list-style: none;
}

.games-container {
}


.game-entry {
  display: flex;
  border-radius: 30px;
  border: 1px solid black;
  flex-direction: row;
  width: 100%;
  height: 20vh;

}

.game-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  align-self: flex-start;
  border-radius: 30px 0px 0px 30px;
}

.game-text {
  display: flex;
  flex-direction: column;

}

.game-title {
  text-transform: capitalize;
  align-self: center;
}

.game-description {
  align-self: flex-end;
}
